nav .right a[href="services.html"]::after {
  visibility: visible;
  transform: scaleX(1);
}
nav .right a[href="services.html"]:hover {
  color: rgba(0, 0, 0, 0.7);
}
@media screen and (max-width: 768px) {
  nav .right a[href="services.html"] {
    color: #27e1ce;
  }
  nav .right a[href="services.html"]::after {
    visibility: hidden;
  }
  nav .right a[href="services.html"]:hover {
    color: #27e1ce;
  }
}
.header_bcg {
  height: 100vh;
  min-height: 700px;
  background-image: url(../images/slide_2.jpg);
  background-position: center top;
  background-size: cover;
  position: relative;
}
.header_bcg h2 {
  font-size: 70px;
  font-weight: 400;
  color: #fff;
  padding-top: 50px;
  opacity: 0;
  animation-name: liftWords;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes liftWords {
  from {
    padding-top: 50px;
    opacity: 0;
  }
  to {
    padding-top: 0;
    opacity: 1;
  }
}
.services_header {
  left: calc(50% - 215px);
  top: calc(50% - 65px);
}
.services_header p {
  color: white;
}
span.heart_red {
  background: url(../svg/cards-heart-red.svg) no-repeat center center;
}
@media screen and (max-width: 992px) {
  .services_header {
    width: 700px;
    left: calc(50% - 340px);
  }
}
@media screen and (max-width: 768px) {
  .services_header h2 {
    font-size: 40px;
  }
  .services_header {
    max-width: 480px;
    left: calc(50% - 240px);
  }
}

/*


*/
.features_box {
  position: relative;
}
.features_box h3 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 30px;
}
.features_box p {
  max-width: 350px;
  margin: auto;
}
.features_box .button_with_arrow {
  left: calc(50% - 65px);
  bottom: -80px;
  margin-bottom: 0;
  background-color: transparent;
  border: 2px solid #27e1ce;
  color: #27e1ce;
}
.features_box .button_with_arrow:hover {
  left: calc(50% - 80px) !important;
  background-color: #27e1ce;
  color: white;
}
@media screen and (max-width: 992px) {
  .features_box p {
    max-width: 800px;
  }
  .features_box {
    margin-bottom: 200px;
  }
}
#above_footer {
  background-image: url(../images/slide_1.jpg);
}
